*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1684A7;
    font-family: sans-serif;
}

nav{
    background-color: #09A599;
    width: 100%;
    font-size: larger;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li{
    height: 8vh;
}

nav li:first-child{
    margin-right: auto;
}

nav a{
    height: 100%;
    padding: 0 1em;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #F6F6F6;
}

nav a:hover{
    background-color: #F6EC72;
    color: #fb7099;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20vh;
    z-index: 999;
    background-color: #09A599;
    backdrop-filter: blur();
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li:last-child{
    margin-top: auto;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

#nav_button:hover{
    background-color: #fb7099;
}

.menu-button{
    display: none;
}

@media(max-width: 650px){
    .hideOnMobile{
        display: none;
    }

    .menu-button{
        display: block;
    }
}

footer{
    margin-top: auto;
    height: auto;
    background-color: #F6EC72;
}

.footer {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer li{
    padding: 20px;
    display: inline-flex;
    align-items: center;

}

.footer a{
    text-decoration: none;
    color: #1684A7;
}